
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --theme-color1: rgb(133, 13, 4);
    --theme-color2: rgb(11, 31, 100);
    font-family: Arial;
    font-size: 103%;
    }
body{
    width: 95%;
    margin: auto;
    }
    p{
        padding: 8px 0;
        font-size: 95%;
        line-height: 1.3;
    }
.main-nav{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    overflow: auto;
    flex-wrap: wrap;
    background: var(--theme-color1);
    /* border-top: 1px solid var(--theme-color2);
    border-bottom: 1px solid var(--theme-color2); */
    }
.main-nav button{
    border: none;
    outline: none;
    padding: 8px;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    }
.main-nav button:nth-child(odd){
    background: var(--theme-color1);
    color: white;
    }
.main-nav button:nth-child(even){
    background: var(--theme-color2);
    color: white;
    }
.main-nav button:nth-child(odd):hover{
    background: white;
    color: var(--theme-color1);
    }
.main-nav button:nth-child(even):hover{
    background: white;
    color: var(--theme-color2);
    }
.main-header{
    padding: 10px 0;
    /* border-bottom: 2px solid var(--theme-color1); */
    margin: auto;
    }
.masthead{
    color: var(--theme-color1);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 150%;
    font-size: 160%;
    }
.lesson-buttons{
    width: 100%;
    margin: auto;
    text-align: center;
}
.next-button, .prev-button{
    color: white;
    background: var(--theme-color1);
    margin: auto;
    border: none;
    padding: 8px 4px;
    position: absolute;
    top: 0;
    cursor:pointer;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    font-size: .9rem;
    /* background: none; */
}
.next-button{
    right: 0;
}
.prev-button{
    left: 0;
}
.next-button:hover, .prev-button:hover{
    color: var(--theme-color2);
    background: white;
}
.refresh-button { 
    color: white;
    margin: auto;
    background: var(--theme-color1);
    border: none;
    padding: 10px 48px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
}

.lesson{
    display: none;
}

.beginner, .intermediate, .advanced, .native{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1px; */
    width: 98%;
    margin: 20px auto;
    position: relative;
    display: none;
    }
 section{
    padding: 20px 2px;
    }
.section-title{
    color: white;
    background: var(--theme-color2);
    text-align: center;
    padding: 10px 0;
    margin: 16px auto;
    }
.section-title > .topic{
    background: var(--theme-color2);
    color: white;
}
.section-sub-title{
    text-align: center;
    padding: 10px 0;
}
.vowels{
    width: 100%;
    max-width: 650px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1px;
}
.vowels .vowel{
    position: relative;
    padding: 8px;
    width: 100%;
    height: 100%;
    transition: transform 500ms;
    font-size: calc(6vw + 1rem);
    border: 1px solid var(--theme-color2);
    /* color: var(--theme-color1); */
    /* background: rgb(221, 217, 217); */
}
.vowels .vowel:nth-child(odd){
    background: var(--theme-color1);
    color:white;
}
.vowels .vowel:nth-child(even){
    color: white;
    background: var(--theme-color2);
}

/* .vowels .vowel:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
    z-index: 1;
    box-shadow: 8px 8px 18px black;
    background: white;
    color: var(--theme-color2);
} */


ul{
    padding: 20px;
    list-style-type:none;
}
footer{
    text-align: center;
    padding: 20px 0;
    margin: 20px auto;
    background: var(--theme-color2);
    color: white;
    }

   
    .vowel .nepali{
        font-size: calc(4vw + 1rem);
        margin: 24px 0 12px 0;
        text-align: center;
        /* text-shadow: 1px 1px 1px gray; */
    }
    .vowel .english{
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: calc(1vw + .7rem);
        /* background: var(--theme-color2); */
        /* border: 1px solid var(--theme-color1); */
        padding: 2px 5px;
        color:lightblue;
        
    }
    .letter-sound{
        position: absolute;
        bottom: 1px;
        right: 0;
        font-size: .7rem;
    }
    audio{
        display: block;
        width: 80px;
        height: 16px;
        opacity:.6;
    }
    @media only screen and (min-width: 650px){
        .main-header{
            padding: 50px 0;
        }
    }
   

