
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --theme-color1: #a00725;
    --theme-color2: #003893;
    font-family: Arial;
    /* font-size: 103%; */
    }
body{
    width: 95%;
    margin: auto;
    }
    p{
        padding: 8px 0;
        font-size: 95%;
        line-height: 1.3;
    }
.game-intro img{
    height: 80px;
    width: 80px;
    margin: 1em .5em 1em 0;
    border-radius: 50%;
    shape-outside: circle();
    float: left;
}
.main-nav{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    overflow: auto;
    flex-wrap: wrap;
    /* background: var(--theme-color1); */
    border-top: 1px solid var(--theme-color1);
    border-bottom: 1px solid var(--theme-color1); 
    }
.main-nav button{
    border: none;
    outline: none;
    padding: 8px;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    color: #003893;
    }
/* .main-nav button:nth-child(odd){
    background: var(--theme-color1);
    color: white;
    }
.main-nav button:nth-child(even){
    background: var(--theme-color2);
    color: white;
    } */
.main-nav button:hover{
    color: var(--theme-color1);
    }
/* .main-nav button:nth-child(even):hover{
    background: white;
    color: var(--theme-color2);
    } */
.main-header{
    padding: 10px 0;
    /* border-bottom: 2px solid var(--theme-color1); */
    margin: auto;
    }
.masthead{
    color: var(--theme-color1);
    text-align: center;
    text-transform: uppercase;
    word-spacing: 150%;
    font-size: 160%;
    }
.lesson-buttons{
    width: 100%;
    margin: auto;
    text-align: center;
}
.next-button, .prev-button{
    color: white;
    background: var(--theme-color1);
    margin: auto;
    border: none;
    padding: 4px;
    position: absolute;
    top: 0px;
    cursor:pointer;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    font-size: .9rem;
    /* background: none; */
}
.next-button{
    right: 0;
}
.prev-button{
    left: 0;
}
.next-button:hover, .prev-button:hover{
    color: var(--theme-color2);
    background: white;
    border: 1px solid var(--theme-color1);
}
.refresh-button { 
    color: white;
    margin: auto;
    background: var(--theme-color1);
    border: none;
    padding: 10px 48px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
}

.lesson{
    display: none;
    padding: 2px 0;
}

.beginner, .intermediate, .advanced, .native{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1px; */
    width: 98%;
    margin: 20px auto;
    position: relative;
    display: none;
    }

.section-title{
    color: white;
    background: var(--theme-color2);
    text-align: center;
    padding: 10px 0;
    margin: 28px auto;
    }
.section-title > .topic{
    background: var(--theme-color2);
    color: white;
}
.section-sub-title{
    text-align: center;
    padding: 10px 0;
}
.vowel-list, .root-syllable-list, .extended-syllable-list{
    position: relative;
    max-width: 650px;
    margin: 2px auto;
}
.vowels{
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-gap: 1px;
    font-size: calc(1vw + 1rem);
}
.vowels div {
    cursor: pointer;
}
.vowels div:nth-child(odd){
    background:var(--theme-color1);
    color: white;
}
.vowels div:nth-child(even){
    background: var(--theme-color2);
    color: white;
}
.vowels >div.active{
    background: white;
    color: var(--theme-color2);
}

.vowel-buttons{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
#prev-vowel-button, #next-vowel-button, #prev-root-button, #next-root-button, #prev-extended-syllable-button, #next-extended-syllable-button{
    background: none;
    position: absolute;
    border: none;
    padding: 4px;
    /* background: var(--theme-color1); */
    color: rgb(255, 255, 255);
    font-size: 1rem;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px rgb(76, 75, 75); */
}
#prev-vowel-button, #prev-root-button, #prev-extended-syllable-button{
    top: 42%;
    left: 0;
}
#next-vowel-button, #next-root-button, #next-extended-syllable-button{
    top: 42%;
    right: 0;
}
#prev-vowel-button:hover, #next-vowel-button:hover{
    background: var(--theme-color2);
}
 .vowel, .root-syllable, .extended-root-syllable{
    position: relative;
    padding: 8px;
    width: 100%;
    max-width: 650px;
    margin: auto;
    height: 100%;
    /* animation-name: play;
    animation-duration: 1000ms;
    animation-timing-function: linear; */
    font-size: calc(6vw + 1rem);
    border: 1px solid var(--theme-color2);
    
    /* color: var(--theme-color1); */
    /* background: rgb(221, 217, 217); */
}
@keyframes play{
    0%{opacity: .7;}
    100%{opacity: 1;}
}

.vowel:nth-child(odd){
    background: var(--theme-color1);
    color:white;
}
.vowel:nth-child(even){
    color: white;
    background: var(--theme-color2);
}

/* .vowels .vowel:hover{
    cursor: pointer;
    transform: scale(1.2, 1.2);
    z-index: 1;
    box-shadow: 8px 8px 18px black;
    background: white;
    color: var(--theme-color2);
} */


ul{
    padding: 20px;
    list-style-type:none;
}
footer{
    text-align: center;
    padding: 20px 0;
    margin: 20px auto;
    background: var(--theme-color2);
    color: white;
    }

   
    .vowel .nepali, .root-syllable .nepali, .extended-root-syllable .nepali{
        font-size: calc(18vw + 1rem);
        margin: 24px 0 12px 0;
        text-align: center;
        color: white;
        animation-name: play;
        animation-duration: 1000ms;
        animation-timing-function: ease-in-out;
        /* animation-name: move;
        animation-direction: top;
        animation-duration: 4s;
        animation-timing-function: ease-in-out; */
        /* text-shadow: 1px 1px 1px gray; */
    }
    /* @keyframes move{
        0% {transform: rotate(0deg); opacity: 1;}
        25% { transform: rotate(90deg); opacity: .75;}
        50%{transform: rotate(180deg); opacity: .5;}
        75%{transform: rotate(270deg); opacity: .25}
        100% { transform: rotate(360deg); opacity: 0}
    } */
    .vowel .english, .root-syllable .english, .extended-root-syllable .english{
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: calc(6vw + .7rem);
        /* background: var(--theme-color2); */
        /* border: 1px solid var(--theme-color1); */
        padding: 2px 5px;
        color:lightblue;
        
    }
    .vowel .letter-sound, .root-syllable .letter-sound, .extended-root-syllable .letter-sound{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    audio{
        display: block;
        width: 100px;
        opacity:.8;
    }
    @media only screen and (min-width: 650px){
        .main-header{
            padding: 50px 0;
        }
    }
   
/* Lesson 2*/

.root-syllable-list, .extended-syllable-list{
    position: relative;
    width: 100%;
    margin: auto;
}
.root-syllable:nth-child(odd), .extended-root-syllable:nth-child(odd){
    background: var(--theme-color1);
}
.root-syllable:nth-child(even), .extended-root-syllable:nth-child(even){
    background: var(--theme-color2);
}
.root-syllable .nepali{
    color: white;
}
#prev-root-button{
    position:absolute;
}

